body
{
    padding: 0;
    margin: 0;
    background-color: #EDEDE8;
}

#navbar
{
    position: fixed;
    top: 0px;
    width: 100vw;
    height: 15vh;
    background-color: #555125;
}

.spacer
{
    height: 14vh;
}

.aboutUs
{
    width: 79.1vw;
    height: 45vh;
    text-align: center;
    margin-top: 10vh;
    margin-left: 20vw;
}

.svg
{
    height: 6vh;
    width: 6vh;
}

#Klimczok
{
    width: 99.1vw;
}

#us
{
    width: 50vw;
    margin-left: 25vw;
}

#who
{
    font-size: 7vh;
    width: 59.1vw;
}

.row
{
    float: left;
    justify-content: space-evenly;
    margin-left: 8vw;
}

#are
{
    width: 59.1vw;
    font-size: 3vh;
    margin-top: 7vh;
}

.segments
{
    width: 99.1vw;
    height: 20vh;
    margin-top: 10vh;
    margin-bottom: 40vh;
}

.bite
{
    margin-top: 10vh;
    text-align: center;
    font-size: 2vh;
}


#navlogo
{
    height: 13vh;
    width: 13vh;
    margin-top: 1vh;
    margin-left: 3vh;
    float: left;
}

#navtext
{
    color: #131301;
    font-size: 11vh;
    margin-top: 1vh;
    margin-bottom: 3vh;
    margin-left: 4vh;
    float: left;
    text-align: left;
}

#hamburger {
    fill: #131301;
    height: 10vh;
    width: 10vh;
    margin-top: 2vh;
    margin-bottom: 3vh;
    margin-right: 6vh;
    cursor: pointer;
    float: right;
  }
  
#sidebar {
    width: 0px;
    height: 100vh;
    background-color: #EDEDE8;
    position: fixed;
    top: 0;
    left: 100vw;
    z-index: 2;
    overflow: hidden;
    transition: width 0.3s ease;
    transition: left 0.3s ease;

    white-space: nowrap;
    float: right;

    
}
  
.sidebar-item {
    text-decoration: none;
    color: black;
    display: flex;
    padding: 3vh;
    align-items: center;
    cursor: pointer;
    font-size: 2vh;
}
.sidebar-item:hover {
    background-color: #cecece;
}
  
.sidebar-item > div {
    padding: 0 1em;
}
  
.sidebar-item svg {
    flex-shrink: 0;
}
  
#overlay {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
}